.pagination {
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.pagination__item{
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 51%);
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: 0px solid white;
    font-size: 17px;
    font-family: 'poppins';
}

.pagination__item:hover{
    cursor: pointer;
}

.arrow__back .arrow__next {
    padding: 10px;
}

.nav__wrapper{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    margin-bottom: 20px;
    margin-top: -220px;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.feed {
    margin-bottom: 70px;
}

@media screen and (max-width: 450px) {
    .feed{
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .nav__wrapper{
        margin-left: -51.5vw;
    }

    
}
