
.pagination__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.pagination__button__container{
    margin: 0px 50px;
}

.pagination__item{
    border-radius: 15px;
    text-align: center;
    background: linear-gradient(to right, #1e3c72 0%, #2a5298 51%);
    height: 35px; 
    padding: 0px 20px;
    cursor: pointer;
    border: 0px solid white;
    font-size: 17px;
    font-family: 'poppins';
    transition: all 0.2s ease-in-out;
}

.pagination__item:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out 1s;
}

.arrow__back .arrow__next {
    padding: 10px;
}

.nav__wrapper{
    background: #232526;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #0f2027 0%, #203a43 90%, #2c5364 100%);
    height: 200px;
    margin-bottom: 20px;
    margin-top: -235px;
}

.feed {
    margin-bottom: 70px;
}

.feed__initial__authorposts{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    margin-left: -9px;
}
@media screen and (max-width: 1200px) {
    
    .main__div{
        width: 100vw;   
    }
    .pagination__button__container{
        margin: 0px 45px;
    }
}

@media screen and (max-width: 450px) {
    
    .feed{
        width: 90%;
    }
    .pagination{
        width: 90%;
    }
    
}
