.pagination {
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.pagination__item{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 900;
    font-family: 'montserrat';
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    border: 2px solid white;
}

.pagination__item:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: white;
}
.nav__wrapper{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    margin-bottom: 20px;
    margin-top: -220px;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.feed {
    margin-bottom: 70px;
}

@media screen and (max-width: 450px) {
    .feed{
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
    }

    
}
