body {
    background-color: #fff;
}
.blog__content__inner{
    padding-bottom: 24px;
    padding-top: 24px;
}

.blog__initialmodel {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: initial;
}
.Author__Info__Container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    color: white;
    align-self: center;
    margin-left: -5px;
}
.Author__Info__Container h1{
    font-weight: 500;
}
.blog__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 4;
    z-index: 10;
    margin-top: -40px;
}
.comment__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 900px;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 70px;
    padding: 10px;
    position: relative;
    z-index: 30;
}
.blog__header {
    display: flex;
    flex-direction: column;
    display: inline-block;
}
.blog__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    order: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 440px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: 1;
    z-index: 1;
    margin-top: -217px;
    display: block;
    max-height: max-content;
    width: auto;
    overflow: hidden;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.05);
}
.blog__hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.6) 8%,
        rgba(10, 10, 10, 0.6) 60%,
        rgba(10, 10, 10, 0.4) 100%
    );
}
.blog__info {
    display: flex;
    position: relative;
    z-index: 10;
    flex-direction: column;
    margin-top: -45px;
    width: auto;
    max-width: 98%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.blog__info__title {
    font-size: 17px;
    font-family: "poppins";
    color: whitesmoke;
    min-height: 125px;
    margin-top: 20px;
}
.blog__info__title h1{
    font-weight: 500;
}

.blog__author .blog__date {
    
    font-family: "montserrat";
    z-index: 2;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid white;
    margin-top: -5px;
}
.blog__author {
    
}

a {
    text-decoration: none;
}
.blog__extratitleone {
    font-family: "montserrat";
    z-index: 2;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid white;
    width: 99%;
    margin-top: -30px;
    text-transform: uppercase;
}
.blog__extratitletwo {
    font-family: "montserrat";
    font-weight: 500;
    z-index: 2;
    font-size: 14px;
    color: #fff;
    margin-top: 2px;
    line-height: 10px;
}
.blog__categories {
    font-weight: 500;
    font-family: "montserrat";
    font-size: 14px;
    color: black;
    background-color: white;
    margin-right: 4px;
}
.blog__extratitletwo strong{
    padding: 0px 3px;
}
.blog__extratitletwo p{
    text-align: end;
    margin-top: -9px;
    margin-right: 6px;
    font-size: 14px;
    color: whitesmoke;
    text-transform: uppercase;
}
.blog__categories__chapters {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__categories__chapter {
    font-weight: 400;
    font-family: "poppins";
    font-size: 14px;
    letter-spacing: 1px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 10px 14px;
    text-transform: uppercase;
    padding: 0px 3px;
    box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.blog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    order: 2;
    width: 100vw;
    background-color: #fff;
    left: 50%;
    right: 50%;
    position: absolute;
    margin-left: -50vw;
    margin-right: -50vw;
    align-items: center;
    margin-top: 205px;
}

.blog__content {
    max-width: 850px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 6%;
    border-bottom: 1px solid rgba(30, 60, 114, 0.15);
}
.blog__content::first-letter {
    font-family: "Times New Roman";
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0px;
}
.blog__content::first-line {
    text-indent: 100px;
}
.blog__content h2 {
    font-family: "poppins";
    color: black;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: -12px;
}
.blog__content h4 {
    padding-top: 10px;
    font-size: 20px;
    margin-left: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.blog__content td {
    padding-bottom: 4px;
    padding-top: 4px;
    border: 1px solid rgba(30, 60, 114, 0.1);;
}
.blog__content th{
    border: 1px solid rgba(30, 60, 114, 0.3);
    padding-bottom: 8px;
    padding-top: 8px;
}
.blog__content table {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    max-width: 760px;
}

.blog__content p {
    font-family: "montserrat";
    font-size: 17px;
    line-height: 28px;
    text-align: unset;
    font-weight: 400;
    color: #323232;
    margin: 20px 0;
}
.highlighted__text{
    background-color: #323232;
    color: #eeeeee;
    padding: 1px 8px;
    padding-bottom: 2px;
    border-radius: 10px;
}



.blog__content ul {
    margin-top: 40px;
    margin-bottom: 12px;
    margin-left: -5px;
}
.blog__content li {
    margin: 5px 0px;
}
.blog__content h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "poppins";
    font-weight: 500;
}

.blog__content hr {
    border-color: rgba(30, 60, 114, 0.1);
}

.blog__content blockquote {
    margin: 5px;
    margin-left: 0px;
    border-left: 2px rgba(10, 10, 10, 0.1) solid;
}

.blog__content blockquote p {
    font-size: 25px;
    padding: 16px 0px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #1e3c72;
    font-family: "poppins";
    text-align: initial;
    text-indent: 0px;
}

.blog__content img {
    border-radius: 5px;
    box-shadow: 0px 10px 10px -2px rgba(30, 60, 114, 0.15);
}

.img {
    width: fit-content;
}

.blog__content video {
    border-radius: 4px;
    box-shadow: 0px 10px 10px -2px rgba(30, 60, 114, 0.15);
}

.center {
    width: 100%;
    display: block;
    margin: 40px auto;
}

.right {
    width: 48%;
    float: right;
    margin: 15px 0 30px 30px;
}
.blog__commentbelowtag{
    background-color: black;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px;
    font-family: 'montserrat';
}

.nextPost__Container {
    display: flex;
    margin-top: -30px;
    width: 880px;
}
.Heading__latestposts {
    margin-top: 10px;
    font-weight: 500;
    color: #323232;
}
.nextPosts {
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.08);
    padding: 0px 10px;
    padding-bottom: -10px;
    margin: 20px 10px;
    background-color: rgb(255, 255, 255);
    width: 45%;
    max-width: 50%;
    text-align: center;
    
}
.nextPosts h5,
h6 {
    margin-top: -12px;
    padding: 0px 0px;
    color: #323232;
}
.nextPosts h5 {
    font-weight: 400;
}
.nextPosts h6 {
    font-weight: 300;
    margin-top: -15px;
}
.nextPosts h4 {
    margin-top: 40px;
    padding: 0px 0px;
    font-weight: 500;
}

.share__buttons {
    margin-top: -26px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.about__author {
    display: flex;
    position: relative;
    width: 850px;
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.1);
    margin: 20px 0px;
}
.about__author__contrib {
    display: flex;
    width: 80%;
    max-width: 700px;
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.1);
    margin: 20px 0px;
}
.author__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100px;
    width: 400px;
    max-height: 170px;
    height: 170px;
}

.author__details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -10px;
}
.author__name h4 {
    margin-top: -15px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: 500;
}
.author__name h6 {
    margin-top: 20px;
    color: #323232;
    text-transform: uppercase;
    font-weight: 500;
}
.author__description {
    margin-top: -15px;
    padding-right: 15px;
    font-size: 18px;
}
.author__description h5{
    font-weight: 600;
    color: #323232;
}
.author__feed {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 32px;
}

.contribute__question__header {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: -30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 20px;
}
.contribute__question__header h4{
    font-weight: 500;
}

.blog__comment__count {
    z-index: 10;
    color: white;
    text-align: end;
}

@media screen and (max-width: 1400px) {
    
    .blog__info {
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .comment__section {
        width: 900px;
    }

    .feed__initial__authorposts {
        width: 100vw;
    }
}
@media screen and (max-width: 1250px) {
    .blog__info{
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    .right {
        margin-top: 60px;
    }
    .comment__section {
        width: 90%;
    }

    .nextPost__Container {
        width: 90%;
    }

    .about__author {
        width: 86%;
    }
    .about__author__contrib {
        width: 86%;
    }
    .blog__info {
        width: 90%;
    }
    .blog__info__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .right {
        float: none;
        width: 100%;
        display: block;
        margin: 40px auto;
    }
    .comment__section {
        width: 90%;
    }
    .blog__content blockquote {
        margin-left: -10px;
        margin-right: 3px;
    }
    .blog__content blockquote p {
        font-size: 22px;
        line-height: 28px;
        margin-left: 10px;
        margin-right: 0px;
        padding: 8px 0px;
    }
    .center {
        margin: 32px auto;
    }
    .nextPost__Container {
        width: 100%;
    }
    .blog__wrapper{
        margin-top: 190px;
    }
    .about__author {
        width: 92%;
    }
    .about__author__contrib {
        width: 94%;
        margin-left: 7px;
    }
    .blog__info__title {
        font-size: 15px;
    }
    .author__description {
        margin-top: -25px;
    }
    .blog__content__inner{
        padding-bottom: 0px;
        padding-top: 8px;
    }
    .blog__content table {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 500px) {
    .blog__extratitleone {
        margin-top: -25px;
        width: 100%;
    }
    .blog__extratitletwo p{
        font-size: 11px;
        font-weight: 700;
        margin-right: 0px;
    }
    .blog__extratitletwo strong{
        padding: 0px 2px;
    }
    .blog__categories{
        font-size: 13px;
        font-weight: 500;
        margin-right: 4px;
    }
    .blog__content{
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .blog__content p {
        font-size: 14px;
        margin: 20px 0;
        line-height: 24px;
        text-align: unset;
    }
    .blog__content blockquote p {
        font-size: 20px;
        padding: 4px 0px;
    }
    .blog__content h2 {
        font-size: 26px;
    }
    .blog__content h3 {
        font-size: 19px;
    }
    .blog__content h4 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .blog__title {
        font-size: 26px;
        line-height: 40px;
        margin-top: 10px;
    }
    .blog__content {
        width: 87%;
    }
    .blog__info {
        margin-left: 17px;
    }
    .blog__info__title {
        font-size: 14px;
        margin-right: 10px;
    }

    .author__description {
        font-size: 16.5px;
        max-height: 120px;
    }
    .author__image {
        max-width: 95px;
        width: 400px;
        height: 170px;
    }
    .Author__Info__Container {
        margin-left: -2px;
    }
    .about__author__contrib {
        max-width: 500px;
    }
    .comment__section {
        width: 90%;
    }
    .blog__commentbelowtag{
        font-size: 12px;
        margin: -2px;
    }
    .Heading__latestposts{
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 12px;
    }
    .nextPosts h4 {
        font-size: 13px;    
        margin-top: 15px;
    }
    .nextPosts h5 {
        margin-top: -10px;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 11px;
        color: #323232;
    }
    .nextPosts h6{
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 9px;
        font-weight: 300;
    }
    .nextPosts{
        margin-bottom: 10px;
    }
    .blog__content table {
        font-size: 13px;
    }
    .blog__content__inner{
        padding-top: 0px;
    }
}

@media screen and (max-width: 400px) {
    .center {
        margin: 24px auto;
    }
    .blog__info__title{
        margin-top: 0px;
        font-size: 13px;
        min-height: 140px;
    }
    .blog__extratitleone {
        font-size: 13px;
    }
    .blog__extratitletwo p{
        font-size: 10px;
    }
    .blog__extratitletwo strong{
        padding: 0px 1.2px;
    }
    .blog__categories{
        font-size: 12px;
    }
    .author__description{
        margin-top: -30px;
        font-size: 15px;
    }
    .Author__Info__Container h1{
        font-size: 26px;
    }
}
