body {
    background-color: #fff;
}
.blog__initialmodel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: initial;

}

.blog__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 4;
    z-index: 10;
    margin-top: -40px;
}
.disqus__section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 140px;
}
.blog__header{
    height: 580px;
    justify-content: center;

}
.blog__hero{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    order: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 440px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: 1;
    z-index: 1;
    margin-top: -210px;
    display: block;
    max-height: max-content;
    width: auto;
    overflow: hidden;
}
.blog__hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.6) 8%,
        rgba(10, 10, 10, 0.6) 60%,
        rgba(10, 10, 10, 0.4) 100%);
}

.blog__content__title {
    position: relative;
    z-index: 10;
    margin-top: -50px;
}

.blog__title {
    font-family: 'poppins';
    display: inline-block;
    font-size: 36px;
}
.blog__author{
    font-weight: 900;
    font-family: 'montserrat';
    z-index: 2;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid white;
    width: 90%;
    margin-top: -5px;
}
.blog__extratitle{
    font-family: 'montserrat';
    z-index: 2;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
}
.blog__categories{
    font-weight: 900;
    font-family: 'montserrat';
    font-size: 14px;
    color: #fff;
}

.blog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    order: 2;
    width: 100vw;
    background-color: #fff;
    left: 50%;
    right: 50%;
    position: absolute;
    margin-left: -50vw;
    margin-right: -50vw;
    align-items: center;
    margin-top: 400px;
}

.blog__content {
    max-width: 960px;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 0 6%;
    text-align: justify;
    border-bottom: 2px solid rgba(30, 60, 114, 0.15);
}
.blog__content::first-letter{
    font-size: 30px;
    font-family: 'montserrat';
    font-weight: 900;
    margin-right: 0px;
    color: #1e3c72;
    margin-left: 70px;
}

.blog__content p {
    font-family: 'poppins';
    font-size: 17px;
    line-height: 32px;
    font-weight: 300;
    color: #0a0a0a;
    margin: 40px 0;
}
.blog__content table{
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.blog__content hr{
    border-color: rgba(30, 60, 114, 0.1);
}

.blog__content blockquote {
    margin: 30px 5px 30px 5px;
    border-radius: 15px;
    padding: 0px 30px 5px 35px;
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.2);
}


.blog__content blockquote:before {
    content: url('../images/quote.png');
    display: inline-block;
    transform: translateY(30px);
    filter: invert(19%) sepia(37%) saturate(1527%) hue-rotate(186deg) brightness(100%) contrast(95%);
}

.blog__content blockquote p {
    font-size: 22px;
    line-height: 36px;
    font-weight: bolder;
    color: #1e3c72;
    font-family: 'poppins';
    text-align: initial;
}

.blog__content img {
    border-radius: 5px;
    box-shadow: 0px 10px 10px -2px rgba(30, 60, 114, 0.15);
}

.img {
    width: fit-content;
}

.center {
    width: 100%;
    display: block;
    margin: 60px auto;
}

.right {
    width: 50%;
    float: right;
    margin: 40px 0 40px 40px;
}
.disqus__section{
    width: 58%;
}
.share__buttons{
    margin-top: -26px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 1400px){
    .disqus__section {
        max-width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        width: 80%;
        
    }
}
@media screen and (max-width: 1600px){
    
}
@media screen and (max-width: 1200px){
    .disqus__section{
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .blog__content__title{
        margin-top: -55px;
    }

}
@media screen and (max-width: 1000px){
    .right{
        margin-top: 90px;
    }
    .disqus__section{
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .blog__content__title{
        padding: 20px;
        margin-top: -50px;
    }
    .blog__title{
        font-size: 28px;
    }
    .blog__header{
        
    }
}

@media screen and (max-width: 750px){
    .right {
        float:none;
        width: 100%;
        display: block;
        margin: 60px auto;
    }
    .disqus__section{
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .blog__content blockquote {
        padding: 0px 15px 5px 15px;
        margin: 10px 0px 10px 0;
    }
    .blog__content blockquote p{
        font-size: 21px;
    }
    .blog__content__title{
        margin-top: -55px;
    }
    .blog__title{
        font-size: 28px;
        line-height: 34px;
    }
    .blog__header{
        
    }
}

@media screen and (max-width: 500px){
    .blog__content__title{
        position: absolute;
        margin-top: -55px;
    }
    .blog__title{
        font-size: 28px;
        line-height: 34px;
    }
    .blog__header{
        
    }
}

