body {
    background-color: #fff;
}
.blog__initialmodel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: initial;

}
.Author__Info__Container{
    position: relative;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    align-self: center;
    margin-left: -15px;
}
.feed__initial__authorposts{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    margin-left: -10px;
    position: relative;
    order: 2;
    z-index: 0;
}

.blog__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 4;
    z-index: 10;
    margin-top: -40px;
}
.disqus__section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 140px;
}
.blog__header{
    display: flex;
    flex-direction: column;
    display: inline-block;
}
.blog__hero{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    order: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 440px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: 1;
    z-index: 1;
    margin-top: -210px;
    display: block;
    max-height: max-content;
    width: auto;
    overflow: hidden;
}
.blog__hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.6) 8%,
        rgba(10, 10, 10, 0.6) 60%,
        rgba(10, 10, 10, 0.4) 100%);
}
.blog__info{
    display: flex;
    position: relative;
    z-index: 10;
    flex-direction: column;
    margin-top: -45px;
    width: auto;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.blog__info__title {
    font-size: 24px;
    font-family: 'poppins';

}



.blog__author .blog__date{
    font-weight: 900;
    font-family: 'montserrat';
    z-index: 2;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid white;
    margin-top: -5px;
}
.blog__author{
}

a{
    text-decoration: none;
}
.blog__extratitleone{
    font-family: 'montserrat';
    z-index: 2;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    border-bottom: 1px solid white;
    width: 93%;
    margin-top: -30px;
}
.blog__extratitletwo{
    font-family: 'montserrat';
    z-index: 2;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    margin-top: 2px;
    line-height: 10px;
}
.blog__categories{
    font-weight: 900;
    font-family: 'montserrat';
    font-size: 14px;
    color: #fff;
}

.blog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    order: 2;
    width: 100vw;
    background-color: #fff;
    left: 50%;
    right: 50%;
    position: absolute;
    margin-left: -50vw;
    margin-right: -50vw;
    align-items: center;
    margin-top: 400px;
}

.blog__content {
    max-width: 960px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 6%;
    border-bottom: 1px solid rgba(30, 60, 114, 0.15);
}
.blog__content::first-letter {
}
.blog__content h3{
    margin-bottom: 40px;
}
.blog__content p {
    font-family: 'Poppins';
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    color: #0a0a0a;
    margin: 40px 0;
}
.blog__content::first-line {
}
.blog__content table{
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.blog__content ul{
    margin-top: 40px;
    margin-bottom: 12px;
    margin-left: -5px;
}
.blog__content p::first-line{
    text-indent: 30px;
}
.blog__content li{
    margin: 5px 0px;
}
.blog__content h3{
    margin-top: 30px;
}

.blog__content hr{
    border-color: rgba(30, 60, 114, 0.1);
}

.blog__content blockquote {
    margin: 30px 5px 30px 5px;
    border-radius: 15px;
    padding: 0px 30px 5px 35px;
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.05);
    
}


.blog__content blockquote:before {
    content: url('../images/quote.png');
    display: inline-block;
    transform: translateY(30px);
    filter: invert(19%) sepia(37%) saturate(1527%) hue-rotate(186deg) brightness(100%) contrast(95%);
}

.blog__content blockquote p {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #1e3c72;
    font-family: 'poppins';
    text-align: initial;
    text-transform: uppercase;
    
}

.blog__content img {
    border-radius: 5px;
    box-shadow: 0px 10px 10px -2px rgba(30, 60, 114, 0.15);
}

.img {
    width: fit-content;
}

.center {
    width: 100%;
    display: block;
    margin: 60px auto;
}

.right {
    width: 50%;
    float: right;
    margin: 40px 0 40px 40px;
}
.nextPost__Container {
    display: flex;
    margin-top: -30px;
    width: 52%;
}
.Heading__latestposts {
    margin-top: 10px;
}
.nextPosts{
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.1);
    padding: 0px 10px;
    padding-bottom: -10px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 45%;
    max-width: 50%;
    text-align: center;
}
.nextPosts h5, h6{
    margin-top: -12px;
    padding: 0px 0px;
}
.nextPosts h4 {
    margin-top: 40px;
    padding: 0px 0px;
}

.disqus__section{
    width: 58%;
}
.share__buttons{
    margin-top: -26px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.about__author{
    display: flex;
    position: relative;
    width: 40%;
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.1);
    margin: 20px 0px;
}
.about__author__contrib{
    display: flex;
    position: relative;
    width: 60%;
    box-shadow: 0px 6px 12px 0 rgba(30, 60, 114, 0.1);
    margin: 20px 0px;
}
.author__image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100px;

}

.author__details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -10px;
}
.author__name h4{
    margin-top: -15px;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
.author__name h6{
    margin-top: 20px;
    text-transform: uppercase;
}
.author__description {
    margin-top: -30px;
    padding-right: 15px;
}

.author__feed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.contribute__question__header{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: -30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 20px;
}

@media screen and (max-width: 1400px){
    .disqus__section {
        max-width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        width: 80%;
        
    }
    .blog__info {
        max-width: 100%;
    }
}
@media screen and (max-width: 1600px){
    
}
@media screen and (max-width: 1200px){
    .disqus__section{
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .feed__initial__authorposts{
        width: 100vw;
    }
    .about__author{
        width: 60%;
    }

}
@media screen and (max-width: 1000px){
    .right{
        margin-top: 90px;
    }
    .disqus__section{
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    
    .nextPost__Container {
        width: 90%;
    }

    .about__author{
        width: 86%;
    }
    .about__author__contrib{
        width: 86%;
    }
    .blog__info {
        max-width: 90%;
    }
    .blog__info__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 750px){
    .right {
        float:none;
        width: 100%;
        display: block;
        margin: 60px auto;
    }
    .disqus__section{
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .blog__content blockquote {
        padding: 0px 15px 5px 15px;
        margin: 10px 0px 10px 0;
    }
    .blog__content blockquote p{
        font-size: 26px;
    }
    
    .blog__header{
        
    }
    .nextPost__Container {
        width: 100%;
    }
    .about__author{
        width: 92%;
    }
    .about__author__contrib{
        width: 92%;
    }
    .blog__info__title {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 500px){
    
    .blog__title{
        font-size: 26px;
        line-height: 40px;
        margin-top: 10px;
    }
    .blog__content{
        width: 87%;
    }
    .blog__info{
        margin-left: 17px;
    }
    .blog__info__title {
        font-size: 19px;
        margin-right: 10px;
    }
}

