.nav__contact__wrapper {
    width: 100%;
}
.contact__section {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}
.contact__container {
    width: 960px;
    display: flex;
    height: 600px;
    box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}

.contact__container__right {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact__container__right h1 {
    font-family: "montserrat";
}
.contact__container__right__inner {
    width: 70%;
}
.contact__submit__btn__container {
    margin: 0 8%;
}
.contact__container__left {
    float: left;
    width: 45%;
    height: 100%;
    background-size: cover;
    background: no-repeat;
    overflow: hidden;
}
.contact__form__image {
    min-height: 600px;
}

.contact__container__right__heading {
    font-family: Ubuntu, "Poppins", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 20px 1px;
    margin-top: -12px;
}

.field__hidden {
    display: none;
}

.form-label {
    margin: 12px auto;
    margin-bottom: 4px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: left;
    font-weight: 600;
    color: #2a5298;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}

.field input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(0, 44, 65, 1);
    border-radius: 4px;
    margin: 0px 0;
    outline: none;
    background-color: #fdfdfd;
}
.field textarea {
    outline: none;
    padding: 1px;
    border: none;
    width: 100%;
    border: 1px solid rgb(0, 44, 65, 1);
    border-radius: 4px;
    background-color: #fdfdfd;
}

.field label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: black;
    transition: all 0.3s ease 0s;
}
input[type="text"] {
    font-family: "poppins";
    font-weight: 400;
    color: black;
    padding-left: 8px;
}
input[type="email"] {
    font-family: "poppins";
    font-weight: 400;
    color: black;
    padding-left: 8px;
}
textarea[type="message"] {
    font-family: "poppins";
    font-weight: 400;
    padding-left: 8px;
    padding-top: 2px;
}

::placeholder {
    padding-left: 16px;
}
.message__field::placeholder {
    padding-top: 10px;
}
.contact__submitbutton {
    background: #c4c4c4;
    font-family: "Montserrat", "Poppins", sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    padding: 0px 20px;
    margin-top: 40px;
    border-color: none;
}

.contact__thanks {
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 26px;
    justify-self: center;
    position: unset;
    margin-top: -100px;
    line-height: 40px;
}

.home__button {
    justify-self: center;
    position: unset;
    margin-top: -150px;
}

.footer_wrapper {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -5;
    justify-content: center;
    margin-top: 675px;
}

.button_med {
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background-image: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    width: 110px;
    height: 35px;
    cursor: pointer;
    border: 0px solid white;
    font-family: "poppins";
    justify-self: center;
}

.button_med_link {
}

.thankyou__wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 180px auto;
    margin-left: 0px;
    margin-top: 120px;
    padding: 10px;
}

.footer_wrapper_thankyou {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -5;
    justify-content: center;
    margin-top: -220px;
    margin-top: 300px;
}

.footer__contact {
    background: #2b2c31;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 70px;
    text-align: center;
}
.footer__contact__container {
    width: 70%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: inline-block;
}
.footer__contact__container__flex {
    display: flex;
    flex-direction: row;
    color: white;
}

.footer__contact__one {
    text-align: left;
    padding: 0px 20px;
    max-width: 580px;
    margin-left: 16px;
    margin-top: 8px;
}
.footer__contact__one p {
    font-weight: 400;
    margin-top: -8px;
}
.footer__contact__one h1 {
    font-weight: 500;
    font-size: 42px;
    margin-top: 0px;
    font-family: "montserrat";
    text-transform: uppercase;

    color: white;
    background: black;
    padding: 0px 4px;
    transition: 0.1s ease-out;
}

.footer__contact__one h3 {
    font-weight: 500;
    margin-top: -16px;
}
.footer__contact__two {
    width: 30%;
    text-align: left;
    margin: 20px;
}
.footer__contact__two a {
    font-size: 14px;
    font-weight: 400;
}
.footer__contact__two {
    color: white;
    line-height: 24px;
}
.footer__contact__two a {
    color: inherit;
    text-decoration: none;
}
.footer__contact__two a:hover {
    color: #c4c4c4;
}
.footer__contact__three {
    width: 30%;
    text-align: left;
    margin: 15px;
    padding: 5px;
    line-height: 24px;
}
.footer__contact__three h4 {
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1500px) {
    .footer__contact__container {
        width: 80%;
    }
}
@media screen and (max-width: 1200px) {
    .footer__contact__container {
        width: 90%;
    }
    .footer__contact__one {
        max-width: 540px;
    }
}
@media screen and (max-width: 1000px) {
    .contact__container {
        width: 90%;
    }
    .footer__contact__one {
        margin-left: 16px;
        margin-top: 48px;
        max-width: 440px;
    }
    .footer__contact__container__flex {
        flex-direction: column;
    }
    .footer__contact__two {
        width: 100%;
        margin-left: -5px;
    }
    .footer__contact__three {
        width: 100%;
        margin-left: -5px;
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .footer__contact__container {
        width: 85%;
    }
    .contact__container__right {
        width: 60%;
    }
    .contact__container__left {
        width: 40%;
    }
    .contact__container__right__inner {
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .footer__contact__one {
        margin-left: 0px;
    }
    .contact__section {
        margin-bottom: 48px;
    }
    .contact__container__right {
        width: 70%;
    }
    .contact__container__left {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .contact__container {
        width: 90%;
        height: 560px;
        box-shadow: none;
        border: 1px solid rgba(30, 60, 114, 0.04);
    }
    .form-label {
        width: 82%;
    }
    .field input {
        width: 80%;
    }
    .field textarea {
        width: 80%;
    }
    .contact__container__right {
        width: 100%;
    }
    .contact__container__left {
        width: 0%;
    }
    .contact__container__right__heading {
        font-size: 30px;
    }
    .contact__container__right__inner {
        width: 100%;
    }
    .contact__section {
        margin-bottom: 32px;
    }
    .footer__contact__one {
        margin-left: 2px;
    }
    .footer__contact__one h1 {
        width: fit-content;
    }
    .footer__contact__one h1:hover {
        color: black;
        background: rgb(238, 238, 238);
    }
}

@media screen and (max-width: 480px) {
    .footer__contact__one {
        padding: 0px;
    }
    .footer__contact__one {
        margin-top: 32px;
    }
}

@media screen and (max-width: 400px) {
    .contact__container__right {
        width: 95%;
    }
    .contact__container__left {
        width: 5%;
    }
    .footer__contact__one {
        margin-top: 24px;
    }
    .contact__section {
        margin-bottom: 16px;
    }
}
