header {
    width: 100vw;
}
.header__section {
    width: 100vw;
}
.header__hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -5;
    justify-content: center;
    margin-top: -220px;
}

.header__hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.6) 8%,
        rgba(10, 10, 10, 0.6) 60%,
        rgba(10, 10, 10, 1) 100%);
}

.header__content {
    min-height: 500px;
    color: white;
    padding: 50px 50px 50px 50px;
    position: absolute;
	left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    margin-top: -220px;
}

.header__info{
    max-width: 100%;
    margin: 130px 0 0 0;
    margin-left: -20px;
    width: 65%;
    font-family: 'poppins';
}
.banner_title{
    margin: 0 0 30px 0;   
    font-family: 'poppins';

}
.banner___title{
    font-weight: 500;
    font-size: 36px;

}

.header__subtitle{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    margin: 0 0 30px 0;
}
.header__author{
    font-family: 'montserrat';
    z-index: 2;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    border-bottom: 1px solid white;
    width: 93%;
    margin-top: -10px;
    
}
@media screen and (max-width: 1250px) {
    .header__info{
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .header__info{
        width: 90%;
        margin-top: 160px;
    }
    .banner___title {
        line-height: 40px;
    }
}

@media screen and (max-width: 750px) {
    .header__info{
        width: 95%;
        margin-top: 150px;
    }
    .header__content {
        padding: 50px 25px;
    }

    .banner___title{
        font-size: 28px;
        line-height: 38px;
    }
}

@media screen and (max-width: 450px) {
    .header__info{
        width: 95%;
    }
    .header__content {
        margin-top: -240px;
    }

    .banner___title{
        font-size: 29px;
    }
    .header__subtitle{
        margin-top: -5px;
        font-size: 17px;
    }
}
