.header__hero {
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -5;
    justify-content: center;
    margin-top: -220px;
}

.header__hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.6) 8%,
        rgba(10, 10, 10, 0.6) 60%,
        rgba(10, 10, 10, 1) 100%);
}

.header__content {
    min-height: 500px;
    color: white;
    padding: 50px 50px 50px 50px;
    margin-left: 70px;
    position: absolute;
	left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    margin-top: -200px;
    width: 60vw;
}

.header__info{
    max-width: 750px;
    margin: 130px 30px 30px -60px;
}
.banner_title{
    margin: 0 0 30px 0;
}
.banner__subtitle{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: white;
    margin: 0 0 30px 0;
    
}
