.header__hero {
    background-position: center;
    background-size: cover;
    height: 580px;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -5;
    justify-content: center;
    margin-top: -220px;
}

.header__hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.64) 8%,
        rgba(10, 10, 10, 0.76) 60%,
        rgba(10, 10, 10, 0.88) 100%
    );
}

.header__content {
    min-height: 500px;
    color: white;
    padding: 48px 48px 48px 48px;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    margin-top: -220px;
}

.header__info {
    width: 100%;
    max-width: 1200px;
    margin: 130px 8px 0 8px;
    font-family: "poppins";
}
.banner_title {
    font-family: "poppins";
}
.banner___title {
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 44px;
    min-height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.header__button__div {
    margin-top: 12px;
}

.header__subtitle {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-weight: 400;
    color: white;
}

.subtlehightlight {
    background-color: #eee;
}

.header__author {
    font-family: "montserrat";
    z-index: 2;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid white;
    width: 100%;
    margin-top: 24px;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
    .header__info {
        margin: 160px 0px 0 0px;
    }
    .banner___title {
        margin-top: 0px;
        font-size: 36px;
    }
}

@media screen and (max-width: 750px) {
    .header__info {
        margin: 150px 8px 0 8px;
    }
    .header__content {
        padding: 48px 20px;
        margin-top: -240px;
    }
    .header__subtitle {
        font-size: 18px;
    }

    .banner___title {
        font-size: 32px;
    }
}

@media screen and (max-width: 500px) {
    .header__info {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header__content {
        margin-top: -240px;
        padding-right: 16px;
    }

    .header__subtitle {
        font-size: 16px;
    }

    .banner___title {
        font-size: 28px;
        margin-top: 32px;
    }

    .header__button__div {
        margin-top: 16px;
    }
    .header__author {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .banner___title {
        font-size: 24px;
    }
}
