.feed__initial {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    margin-left: 0px;
    position: relative;
    order: 2;
    z-index: 0;
}

.feed__heading {
    font-size: 48px;
    font-family: "Playfair Display", "Serif";
    text-align: center;
    display: block;
    color: #323232;
}

.feed__heading::before {
    content: "";
    position: absolute;
    margin-left: -20px;
    width: 104px;
    height: 88px;
    background-color: #323232;
    opacity: 0.06;
}

.feed {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 320px;
    grid-gap: 16px;
    z-index: 0;
}

.feed__blogpost {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 16px;
    z-index: 0;

    margin-bottom: 120px;
}

.card__category {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    margin: 0px 0px 0px 6px;
}

.card__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0px 8px 4px;
}

.zindex__higher {
    z-index: 10;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    transition: all 0.3s ease;
    border: none;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card:nth-child(1),
:nth-child(6),
:nth-child(7) {
    grid-column-start: span 6;
}

.card:nth-child(2),
:nth-child(3),
:nth-child(4),
:nth-child(5),
:nth-child(8),
:nth-child(9) {
    grid-column-start: span 3;
}

.viewmore_wrapper {
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    width: 176px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2a5298;
    transition: 1s ease;
    font-family: "Montserrat";
    transition: 0.2s ease-in-out;
    color: #eeeeee;
    background-position: right center;
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 51%);
}
.viewmore_wrapper__link {
    border-radius: 4px;
    margin-top: -30px;
    outline: none;
    margin-left: 32px;
    margin-right: 32px;
}

.viewmore_wrapper:hover {
    transform: scale(1.01);
}

.viewmore_wrapper__outline {
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    width: 176px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2a5298;
    transition: 1s ease-in-out;
    font-family: "Montserrat";
    transition: 0.2s ease-in;
    color: #1e3c72;
    background-position: right center;
    background: #fff;
}

.viewmore_wrapper__outline:hover {
    transform: scale(1.01);
}

.search-svg-btn {
    width: 10px;
    height: 10px;
    margin-left: 4px;
    margin-bottom: 0px;
    filter: invert(31%) sepia(10%) saturate(3668%) hue-rotate(180deg)
        brightness(95%) contrast(96%);
}

.viewmore_container {
    display: flex;
    margin-top: 8px;
    margin-bottom: 16px;
}

.viewmore_container__blog {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 104px;
}

.viewmore_wrapper:hover {
    background-position: right center;
}

.card__blogpost {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    transition: all 0.3s ease;
    border: none;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card__blogpost:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card__blogpost:nth-child(1),
:nth-child(2) {
    grid-column-start: span 6;
}

@media screen and (max-width: 1350px) {
    .card:nth-child(n) {
        grid-column-start: span 4;
    }
    .feed {
        width: 100%;
    }
    .feed__blogpost {
        width: 100%;
    }
}
@media screen and (max-width: 1250px) {
    .card:nth-child(n) {
        grid-column-start: span 6;
    }
    .feed {
        width: 90%;
        margin-left: 0px;
    }
    .feed__blogpost {
        width: 100%;
        margin-left: 0px;
    }

    .feed__initial {
        width: 100vw;
    }
}

@media screen and (max-width: 950px) {
    .feed__blogpost {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .card:nth-child(n) {
        grid-column-start: span 12;
    }
    .card__blogpost:nth-child(n) {
        grid-column-start: span 12;
    }
    .feed {
        width: 90%;
        margin-left: 0px;
    }
    .feed__blogpost {
        margin-bottom: 104px;
    }
}

@media screen and (max-width: 460px) {
    .card__blogpost:nth-child(n) {
        grid-column-start: span 12;
    }
    .card:nth-child(n) {
        grid-column-start: span 12;
    }
    .card {
        margin-left: 0px;
        margin-right: 0px;
    }
    .viewmore_container {
        margin-top: -8px;
        width: 90%;
    }
    .viewmore_container__blog {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .feed {
        grid-auto-rows: 280px;
    }
    .viewmore_container {
        margin-top: -8px;
        width: 91%;
    }
    .viewmore_container__blog {
        margin-top: 48px;
        width: 91%;
    }
    .viewmore_wrapper {
        width: 100%;
        font-size: 14px;
    }
    .viewmore_wrapper__link {
        width: 100%;
        margin-left: 4px;
        margin-right: 4px;
    }
    .viewmore_wrapper__outline {
        width: 100%;
        font-size: 14px;
    }
    .feed__heading {
        margin-top: 0px;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 36px;
    }

    .feed__heading::before {
        right: 0;
        margin-top: 16px;
        margin-left: 0px;
    }
}
