html {
    font-family: "Montserrat", "Playfair Display", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}
body {
    font-family: "Montserrat", "Playfair Display", sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgba(10, 10, 10, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}
.main__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

h2 {
    color: white;
    font-weight: 500;
}

.btn__med {
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 51%);
    color: white;
    min-width: 160px;
    height: 40px;
    margin-top: -5px;
    cursor: pointer;
    border: 0px solid white;
    font-family: "Montserrat";
    outline: none;
    transition: 0.3s ease-in-out;
}

.btn__med:hover {
    background-image: linear-gradient(to right, #2a5298 0%, #1e3c72 100%);
}

.btn__med__inactive {
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #2a5298;
    background: #fff;
    min-width: 160px;
    height: 40px;
    margin-top: -5px;
    cursor: pointer;
    border: 1px solid #2a5298;
    font-family: "Montserrat";
    outline: none;
}
.btn__med__outline {
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #1e3c72;
    min-width: 280px;
    height: 44px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #1e3c72;
    font-family: "Montserrat";
    outline: none;
    transition: 0.1s ease-in-out;
    margin-top: 24px;
    margin-bottom: 4px;
    position: relative;
    z-index: 100;
}
.btn__med__outline:hover {
    transform: scale(1.01);
}

.title__fullstop {
    color: #2a5298;
}

.no-text-decoration {
    text-decoration: none;
    color: #323232;
}

@media screen and (max-width: 500px) {
    .btn__med {
        height: 44px;
        font-size: 12px;
        width: 100%;
    }
    .btn__med__inactive {
        width: 100%;
    }
    .btn__med__outline {
        width: 100%;
    }
}
.btn__med:hover {
    background-position: right center;
}
