.footer__hero{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    z-index: -10;
    max-height: 800px;
    margin-top: 130px;
    
}

.footer__div{
    order: 2;
    width: 95%;
    align-content: center;
    text-align: center;
    margin-top: -95px;
}

.newsletter__field__hidden{
    display: none;
}

.newsletter__form{
    color: black;
    font-family: 'poppins';
    padding: 20px;
    margin-top: 20px;
    border-radius: 0px;
    box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.2);
    margin-left: 20px;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.88);
}

.newsletter__form p{
    font-size: 17px;   
}


.newsletter__field input {
    padding: 1px;
    outline: none;
    width: 100%;
    border: 1px solid black;
    color: black;
    height: 25px;
    background: transparent;
    border-bottom: 1px solid black;
    float: right;
    border-radius: 20px;
    margin: 10px 0;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.newsletter__field input::placeholder{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
}
.newsletter__field p{
    text-align: left;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 800;
}
.threeiinc__header{
    color: white;
    font-size: 40px;
    align-self: center;
    max-width: 400px;
    cursor: pointer;
    margin-left: 70px;
}
.threeiinc__header p{
    font-size: 17px;
    font-weight: 700;

}
.footer__contents {
    display: flex;
    flex-direction: row ;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.newsletter__field__checkbox{
    display: inline-flex;
    
}
.newsletter__field__checkbox input{
    margin-top: 10px;
    margin-right: 10px;
    background: black;
}

.newsletter__field__checkbox p{
    font-family: 'montserrat';
    font-size: 10px;
    font-weight: 900;
}

@media screen and (max-width: 750px){
    .newsletter__form{
        margin: 30px 0;
    }
    .footer__contents {
        display: flex;
        flex-direction: column;
    }
    .threeiinc__header{
        margin: 0;
    }
}

@media screen and (max-width: 480px){
    .newsletter__form{
        margin: 30px 0;
        max-width: 320px;
    }
    .footer__contents {
        display: flex;
        flex-direction: column;
    }
    .header__title{
        font-size: 32px;
        line-height: 38px;
    }
}

@media screen and (max-width: 400px){
    
    .header__title{
        font-size: 28px;
        line-height: 38px;
    }
    .newsletter__form{
        max-width: 280px;
    }
}