.footer__hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 88px;
    padding-top: 48px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    z-index: -10;
    max-height: 800px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.footer__div {
    order: 2;
    width: 95%;
    align-content: center;
    text-align: center;
    margin-top: -95px;
}

.newsletter__field__hidden {
    display: none;
}

.newsletter__form {
    color: black;
    font-family: "Playfair Display";
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0px 4px 8px 0px rgba(10, 10, 10, 0.2);
    margin-left: 20px;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.88);
}

.newsletter__form p {
    font-size: 17px;
}
.newsletter__field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter__field input {
    padding: 1px;
    outline: none;
    width: 97%;
    border: 1px solid black;
    color: black;
    height: 28px;
    background: transparent;
    border-bottom: 1px solid black;
    float: right;
    border-radius: 4px;
    margin: 10px 0;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.newsletter__field input::placeholder {
    text-transform: lowercase;
    font-size: 12px;
    font-weight: 400;
}

.newsletter__field input[type="email"] {
    padding-left: 4px;
}

.newsletter__field p {
    text-align: left;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
}
.threeiinc__header {
    color: white;
    font-size: 40px;
    align-self: center;
    max-width: 400px;
    cursor: pointer;
    margin-left: 60px;
    font-weight: 500;
    padding: 20px;
}

.threeiinc__header p {
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.footer__contents {
    display: flex;
    flex-direction: row;
    width: 1120px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}
.newsletter__field__checkbox {
    display: inline-flex;
    margin: 0px 5px;
}
.newsletter__ack__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: -5px;
}
.newsletter__field__checkbox input {
    background: black;
}

.newsletter__ack__text {
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 500;
    color: #323232;
}
.socialbuttons__footer a {
    margin-right: 8px;
}
.socialbuttons__footer a svg:hover {
    transform: scale(1.08);
}

.icon {
    height: 20px;
    width: 20px;
    background-color: rgb(226, 199, 230);
    padding: 8px;
}
.socialbuttons__footer {
    margin-top: -12px;
}

@media screen and (max-width: 1000px) {
    .footer__contents {
        display: flex;
        flex-direction: column;
    }
    .socialbuttons__footer {
        margin-top: -8px;
        text-align: left;
    }
}
@media screen and (max-width: 750px) {
    .newsletter__form {
        margin: 30px 0;
    }
    .threeiinc__header {
        margin: 0;
    }
    .footer__hero {
        padding-top: 16px;
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 480px) {
    .newsletter__form {
        width: 90%;
    }
    .footer__contents {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .header__title {
        font-size: 32px;
        line-height: 38px;
    }
    .newsletter__form p {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .header__title {
        font-size: 28px;
        line-height: 38px;
    }
    .newsletter__form p {
        font-size: 16px;
    }
}
