.nav__container {
    width: 75%;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
    min-width: 900px;
}

.nav__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", "Poppins";
    text-decoration: none;
}
.nav__logo__div {
    width: 50%;
    text-align: left;
}

.nav__component {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    width: 60%;
}

.nav__component__link {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 16px;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.nav__logo {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__component__div:hover .nav__component__link:hover {
    background-color: #f8f9fa;
    color: black;
    transition: ease-in 0.2s;
}

@media screen and (max-width: 1250px) {
    .nav__container {
        min-width: unset;
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .nav__logo {
        font-size: 40px;
        letter-spacing: 2px;
    }
    .nav__inner {
        flex-direction: column;
    }
    .nav__logo__div {
        text-align: center;
        width: 65%;
    }
    .nav__component {
        justify-content: center;
        align-items: center;
    }
    .nav__component__link {
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .nav__component {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    .nav__component__link {
        font-size: 15px;
    }
}
